In [1]:
import pandas as pd
import numpy as np
import os
import sqlalchemy
from pymongo import MongoClient
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.ext.declarative import declarative_base
import datetime as dt
from pprint import pprint

In [5]:
pd.options.display.max_colwidth = 200
file1 = pd.read_csv("Talitta-Test1.csv")
file1

,Timestamp,From Bank,From Account,To Bank,To Account,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/01 06:13,2,800042CB0,1,800059440,211.750000,US Dollar,211.750000,US Dollar,Cheque,0
1,2022/09/01 08:01,2,800042CB0,9129,8087F7F80,3177.950000,US Dollar,3177.950000,US Dollar,Cheque,0
2,2022/09/01 08:21,70,100428A51,15,813774941,0.624968,Bitcoin,0.624968,Bitcoin,Bitcoin,0
3,2022/09/01 08:26,70,100428A51,225,813B5C5E1,0.499435,Bitcoin,0.499435,Bitcoin,Bitcoin,0
4,2022/09/01 08:12,220,813A831A1,15,813A83061,0.089057,Bitcoin,0.089057,Bitcoin,Bitcoin,0
5,2022/09/01 06:02,2,800042CB0,1,800059440,649.400000,US Dollar,649.400000,US Dollar,ACH,0
6,2022/09/01 08:06,220,813A831A1,15,813A83061,2.040830,Bitcoin,2.040830,Bitcoin,Bitcoin,0
7,2022/09/01 08:21,70,100428A51,225,813B5C5E1,0.053615,Bitcoin,0.053615,Bitcoin,Bitcoin,0

In [9]:
sort = file1.sort_values(['From Bank','From Account'])
sort

,Timestamp,From Bank,From Account,To Bank,To Account,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/01 06:13,2,800042CB0,1,800059440,211.750000,US Dollar,211.750000,US Dollar,Cheque,0
1,2022/09/01 08:01,2,800042CB0,9129,8087F7F80,3177.950000,US Dollar,3177.950000,US Dollar,Cheque,0
5,2022/09/01 06:02,2,800042CB0,1,800059440,649.400000,US Dollar,649.400000,US Dollar,ACH,0
2,2022/09/01 08:21,70,100428A51,15,813774941,0.624968,Bitcoin,0.624968,Bitcoin,Bitcoin,0
3,2022/09/01 08:26,70,100428A51,225,813B5C5E1,0.499435,Bitcoin,0.499435,Bitcoin,Bitcoin,0
7,2022/09/01 08:21,70,100428A51,225,813B5C5E1,0.053615,Bitcoin,0.053615,Bitcoin,Bitcoin,0
4,2022/09/01 08:12,220,813A831A1,15,813A83061,0.089057,Bitcoin,0.089057,Bitcoin,Bitcoin,0
6,2022/09/01 08:06,220,813A831A1,15,813A83061,2.040830,Bitcoin,2.040830,Bitcoin,Bitcoin,0

In [12]:
x =

From Bank
From Account