In [2]:
import pandas as pd

code_load = "Resources/currencies.csv"

# Read School and Student Data File and store into Pandas DataFrames
code_data = pd.read_csv(code_load)

In [3]:
code_data.head()

                  CurrencyName CurrencyCode
0  United Arab Emirates Dirham          AED
1               Argentine Peso          ARS
2            Australian Dollar          AUD
3             Bangladeshi Taka          BDT
4                Bulgarian Lev          BGN

In [18]:
codes = code_data['CurrencyCode'].unique().tolist()

In [9]:
import fnmatch as fn
import os

In [13]:
our_list = [pd.read_csv(os.path.join('Outputs', file), delimiter=',') for file in os.listdir(os.path.join('Outputs')) if fn.fnmatch(file, '*.csv')]

In [14]:
print(our_list)

[                timestamp  from_bank from_account  to_bank to_account  \
0     2022-09-01 02:38:00       1812    80279F810      110  8000A94C0
1     2022-09-02 14:36:00      22595    80279F8B0      110  8000A94C0
2     2022-09-03 14:09:00       1120    800E36A50      110  8000A94C0
3     2022-09-01 03:17:00       3671    801BF8E70     2557  8016B3750
4     2022-09-01 06:27:00         15    80074C7E0     2557  8016B3750
...                   ...        ...          ...      ...        ...
1018  2022-09-14 09:36:00         27    80BF623F0    27009  80B880140
1019  2022-09-14 10:06:00         27    80BF623F0    16934  805F5B360
1020  2022-09-14 14:10:00         27    80BF623F0      531  8057B5070
1021  2022-09-10 22:10:00      15516    8026EA390    25788  8026EA1A0
1022  2022-09-10 15:58:00      25788    8026EA1A0    25788  8026EA1A0

      amount_received       rec_currency  amount_paid   payment_currency  \
0            10154.74  Australian Dollar     10154.74  Australian Dollar
1             5326.79  Australian Dollar      5326.79  Australian Dollar
2             4634.81  Australian Dollar      4634.81  Australian Dollar
3             8099.96               Euro      8099.96               Euro
4            10468.56               Euro     10468.56               Euro
...               ...                ...          ...                ...
1018         12499.20          US Dollar     12499.20          US Dollar
1019          3902.74               Euro      3902.74               Euro
1020         15565.88          US Dollar     15565.88          US Dollar
1021          3431.61               Euro      3431.61               Euro
1022          4418.15               Euro      4418.15               Euro

     payment_format  is_laundering    pattern_type      group_id
0               ACH              1          FAN-IN    LI-Small_1
1               ACH              1          FAN-IN    LI-Small_1
2               ACH              1          FAN-IN    LI-Small_1
3               ACH              1          FAN-IN    LI-Small_2
4               ACH              1          FAN-IN    LI-Small_2
...             ...            ...             ...           ...
1018            ACH              1         FAN-OUT  LI-Small_116
1019            ACH              1         FAN-OUT  LI-Small_116
1020            ACH              1         FAN-OUT  LI-Small_116
1021            ACH              1  GATHER-SCATTER  LI-Small_117
1022            ACH              1  GATHER-SCATTER  LI-Small_117

[1023 rows x 13 columns],                 timestamp  from_bank from_account  to_bank to_account  \
0     2022-09-01 00:29:00     110994    80A0ECCF0   110320  804F34520
1     2022-09-04 12:49:00     110320    804F34520    29772  8046BB130
2     2022-09-01 12:28:00     110994    80A0ECCF0    14745  808326150
3     2022-09-04 13:39:00      14745    808326150    29772  8046BB130
4     2022-09-01 14:26:00     110994    80A0ECCF0    44986  81112A390
...                   ...        ...          ...      ...        ...
3904  2022-09-18 10:49:00          3    80F675DC0   231646  8124F9110
3905  2022-09-21 11:20:00     231646    8124F9110    28920  80B7B71A0
3906  2022-09-19 12:56:00      28920    80B7B71A0   237063  828BD87C0
3907  2022-09-22 09:09:00     237063    828BD87C0   192738  8232CA040
3908  2022-09-18 16:41:00     192738    8232CA040    21954  801CA9620

      amount_received rec_currency  amount_paid payment_currency  \
0              311.90         Euro       311.90             Euro
1              317.89    US Dollar       317.89        US Dollar
2            12618.72    US Dollar     12618.72        US Dollar
3            10555.54    US Dollar     10555.54        US Dollar
4           433188.87          Yen    433188.87              Yen
...               ...          ...          ...              ...
3904         18452.14    US Dollar     18452.14        US Dollar
3905         20180.27    US Dollar     20180.27        US Dollar
3906         19430.22    US Dollar     19430.22        US Dollar
3907         14808.76     UK Pound     14808.76         UK Pound
3908         18022.26         Euro     18022.26             Euro

     payment_format  is_laundering    pattern_type       group_id
0               ACH              1  SCATTER-GATHER    LI-Medium_1
1               ACH              1  SCATTER-GATHER    LI-Medium_1
2               ACH              1  SCATTER-GATHER    LI-Medium_1
3               ACH              1  SCATTER-GATHER    LI-Medium_1
4               ACH              1  SCATTER-GATHER    LI-Medium_1
...             ...            ...             ...            ...
3904            ACH              1           CYCLE  LI-Medium_456
3905            ACH              1           CYCLE  LI-Medium_456
3906            ACH              1           CYCLE  LI-Medium_456
3907            ACH              1           CYCLE  LI-Medium_456
3908            ACH              1           CYCLE  LI-Medium_456

[3909 rows x 13 columns],                   timestamp  from_bank from_account  to_bank to_account  \
0       2022-08-09 05:14:00        952    8139F54E0   111632  8062C56E0
1       2022-08-13 13:09:00     111632    8062C56E0     8456  81363F620
2       2022-08-15 07:40:00     118693    823D5EB90    13729  801CF2E60
3       2022-08-15 14:19:00      13729    801CF2E60   123621  81A7090F0
4       2022-08-13 12:40:00      24750    81363F410   213834  808757B00
...                     ...        ...          ...      ...        ...
137931  2022-11-08 09:12:00       1538    8008279E0    12883  801345490
137932  2022-11-20 18:34:00       1538    8008279E0     1226  8001672F0
137933  2022-11-25 11:27:00       1538    8008279E0     1213  8006E6420
137934  2022-11-28 09:15:00       1538    8008279E0     1827  80117E140
137935  2022-12-10 15:28:00       1538    8008279E0        0  801641AE0

        amount_received rec_currency  amount_paid payment_currency  \
0               5331.44    US Dollar      5331.44        US Dollar
1               5602.59    US Dollar      5602.59        US Dollar
2               1400.54    US Dollar      1400.54        US Dollar
3               1467.94    US Dollar      1467.94        US Dollar
4              16898.29    US Dollar     16898.29        US Dollar
...                 ...          ...          ...              ...
137931          5698.52         Euro      5698.52             Euro
137932          6043.82         Euro      6043.82             Euro
137933          9483.76         Euro      9483.76             Euro
137934         11919.51         Euro     11919.51             Euro
137935         15457.82    US Dollar     15457.82        US Dollar

       payment_format  is_laundering pattern_type        group_id
0                 ACH              1        STACK      HI-Large_1
1                 ACH              1        STACK      HI-Large_1
2                 ACH              1        STACK      HI-Large_1
3                 ACH              1        STACK      HI-Large_1
4                 ACH              1        STACK      HI-Large_1
...               ...            ...          ...             ...
137931            ACH              1      FAN-OUT  HI-Large_16467
137932            ACH              1      FAN-OUT  HI-Large_16467
137933            ACH              1      FAN-OUT  HI-Large_16467
137934            ACH              1      FAN-OUT  HI-Large_16467
137935            ACH              1      FAN-OUT  HI-Large_16467

[137936 rows x 13 columns],                 timestamp  from_bank from_account  to_bank to_account  \
0     2022-09-01 00:06:00      21174    800737690       12  80011F990
1     2022-09-01 04:33:00      21174    800737690       20  80020C5B0
2     2022-09-01 09:14:00      21174    800737690       20  80006A5E0
3     2022-09-01 09:56:00      21174    800737690      220  8007A5B70
4     2022-09-01 11:28:00      21174    800737690     1244  80093C0D0
...                   ...        ...          ...      ...        ...
3204  2022-09-14 14:10:00      28827    806DEA990    41407  80F454910
3205  2022-09-14 15:49:00      16643    80762FE70    41407  80F454910
3206  2022-09-14 19:51:00      13917    80E16D0B0    41407  80F454910
3207  2022-09-10 22:42:00      49365    812A09D40      119  812A09CF0
3208  2022-09-12 03:34:00        222    812D127D0    50202  812D129C0

      amount_received rec_currency  amount_paid payment_currency  \
0             2848.96         Euro      2848.96             Euro
1             8630.40         Euro      8630.40             Euro
2            35642.49         Yuan     35642.49             Yuan
3          5738987.96    US Dollar   5738987.96        US Dollar
4             7254.53    US Dollar      7254.53        US Dollar
...               ...          ...          ...              ...
3204         14141.57  Swiss Franc     14141.57      Swiss Franc
3205          2860.78  Swiss Franc      2860.78      Swiss Franc
3206          7413.71  Swiss Franc      7413.71      Swiss Franc
3207         41927.21  Saudi Riyal     41927.21      Saudi Riyal
3208         20085.71  Saudi Riyal     20085.71      Saudi Riyal

     payment_format  is_laundering pattern_type      group_id
0               ACH              1      FAN-OUT    HI-Small_1
1               ACH              1      FAN-OUT    HI-Small_1
2               ACH              1      FAN-OUT    HI-Small_1
3               ACH              1      FAN-OUT    HI-Small_1
4               ACH              1      FAN-OUT    HI-Small_1
...             ...            ...          ...           ...
3204            ACH              1       FAN-IN  HI-Small_368
3205            ACH              1       FAN-IN  HI-Small_368
3206            ACH              1       FAN-IN  HI-Small_368
3207            ACH              1       RANDOM  HI-Small_369
3208            ACH              1    BIPARTITE  HI-Small_370

[3209 rows x 13 columns],                  timestamp  from_bank from_account  to_bank to_account  \
0      2022-09-01 05:14:00        952    8139F54E0   111632  8062C56E0
1      2022-09-03 13:09:00     111632    8062C56E0     8456  81363F620
2      2022-09-01 07:40:00     118693    823D5EB90    13729  801CF2E60
3      2022-09-01 14:19:00      13729    801CF2E60   123621  81A7090F0
4      2022-09-02 12:40:00      24750    81363F410   213834  808757B00
...                    ...        ...          ...      ...        ...
22738  2022-09-16 23:44:00       1818    80D7BB990    24842  8028966B0
22739  2022-09-17 03:20:00      24842    8028966B0   172269  82A986A10
22740  2022-09-19 17:12:00     172269    82A986A10    25644  81DB33B40
22741  2022-09-20 16:18:00      25644    81DB33B40   295233  8230CE9C0
22742  2022-09-21 17:07:00     295233    8230CE9C0     1818  80D7BB990

       amount_received rec_currency  amount_paid payment_currency  \
0              5331.44    US Dollar      5331.44        US Dollar
1              5602.59    US Dollar      5602.59        US Dollar
2              1400.54    US Dollar      1400.54        US Dollar
3              1467.94    US Dollar      1467.94        US Dollar
4             16898.29    US Dollar     16898.29        US Dollar
...                ...          ...          ...              ...
22738          4570.11    US Dollar      4570.11        US Dollar
22739          4410.67    US Dollar      4410.67        US Dollar
22740          4410.67    US Dollar      4410.67        US Dollar
22741          3414.74     UK Pound      3414.74         UK Pound
22742          4365.08    US Dollar      4365.08        US Dollar

      payment_format  is_laundering pattern_type        group_id
0                ACH              1        STACK     HI-Medium_1
1                ACH              1        STACK     HI-Medium_1
2                ACH              1        STACK     HI-Medium_1
3                ACH              1        STACK     HI-Medium_1
4                ACH              1        STACK     HI-Medium_1
...              ...            ...          ...             ...
22738            ACH              1        CYCLE  HI-Medium_2756
22739            ACH              1        CYCLE  HI-Medium_2756
22740            ACH              1        CYCLE  HI-Medium_2756
22741            ACH              1        CYCLE  HI-Medium_2756
22742            ACH              1        CYCLE  HI-Medium_2756

[22743 rows x 13 columns],                  timestamp  from_bank from_account  to_bank to_account  \
0      2022-08-01 01:34:00      23447    80748FC70     8847  8055DF7D0
1      2022-08-26 18:37:00       8847    8055DF7D0    14745  80DAC5480
2      2022-08-07 09:02:00      23447    80748FC70     3335  8014304A0
3      2022-08-29 06:09:00       3335    8014304A0    14745  80DAC5480
4      2022-08-11 09:18:00      23447    80748FC70    23872  802BBDCC0
...                    ...        ...          ...      ...        ...
19456  2022-11-09 16:15:00       1226    8001A8B80    14943  8095F3F30
19457  2022-11-06 07:13:00       1226    805DFB0B0       11  80022FB00
19458  2022-11-17 14:56:00       5889    8068A2ED0     1891  80343A5D0
19459  2022-11-05 21:47:00     133500    83223E1D0  2124910  83223E180
19460  2022-11-10 15:51:00    2124910    83223E180   133500  83223E1D0

       amount_received       rec_currency  amount_paid   payment_currency  \
0              7320.00               Yuan      7320.00               Yuan
1              1092.93          US Dollar      1092.93          US Dollar
2             10954.37               Euro     10954.37               Euro
3             10378.47          US Dollar     10378.47          US Dollar
4             14073.93               Euro     14073.93               Euro
...                ...                ...          ...                ...
19456         11266.87               Euro     11266.87               Euro
19457          5122.14          US Dollar      5122.14          US Dollar
19458          7378.03          US Dollar      7378.03          US Dollar
19459         10313.63  Australian Dollar     10313.63  Australian Dollar
19460         10557.12  Australian Dollar     10557.12  Australian Dollar

      payment_format  is_laundering    pattern_type       group_id
0                ACH              1  SCATTER-GATHER     LI-Large_1
1                ACH              1  SCATTER-GATHER     LI-Large_1
2                ACH              1  SCATTER-GATHER     LI-Large_1
3                ACH              1  SCATTER-GATHER     LI-Large_1
4                ACH              1  SCATTER-GATHER     LI-Large_1
...              ...            ...             ...            ...
19456            ACH              1       BIPARTITE  LI-Large_2217
19457            ACH              1       BIPARTITE  LI-Large_2217
19458            ACH              1       BIPARTITE  LI-Large_2217
19459            ACH              1  SCATTER-GATHER  LI-Large_2218
19460            ACH              1  SCATTER-GATHER  LI-Large_2218

[19461 rows x 13 columns]]

In [15]:
Nate = pd.concat(our_list, ignore_index=True, axis=0).sort_values('group_id').reset_index(drop=True)

In [16]:
Nate

,timestamp,from_bank,from_account,to_bank,to_account,amount_received,rec_currency,amount_paid,payment_currency,payment_format,is_laundering,pattern_type,group_id
0,2022-08-09 05:14:00,952,8139F54E0,111632,8062C56E0,5331.44,US Dollar,5331.44,US Dollar,ACH,1,STACK,HI-Large_1
1,2022-08-22 06:34:00,213834,808757B00,0,800073EF0,17607.19,US Dollar,17607.19,US Dollar,ACH,1,STACK,HI-Large_1
2,2022-08-13 12:40:00,24750,81363F410,213834,808757B00,16898.29,US Dollar,16898.29,US Dollar,ACH,1,STACK,HI-Large_1
3,2022-08-13 13:09:00,111632,8062C56E0,8456,81363F620,5602.59,US Dollar,5602.59,US Dollar,ACH,1,STACK,HI-Large_1
4,2022-08-15 07:40:00,118693,823D5EB90,13729,801CF2E60,1400.54,US Dollar,1400.54,US Dollar,ACH,1,STACK,HI-Large_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
188276,2022-09-09 08:58:00,1776,8017D1980,2860,8016A5E40,5992.39,US Dollar,5992.39,US Dollar,ACH,1,FAN-OUT,LI-Small_99
188277,2022-09-09 09:13:00,1776,8017D1980,21566,801B7DB90,17650.29,US Dollar,17650.29,US Dollar,ACH,1,FAN-OUT,LI-Small_99
188278,2022-09-10 17:30:00,1776,8017D1980,11222,80095D960,5877.68,US Dollar,5877.68,US Dollar,ACH,1,FAN-OUT,LI-Small_99
188279,2022-09-11 12:17:00,1776,8017D1980,21939,8011E83E0,17696.72,US Dollar,17696.72,US Dollar,ACH,1,FAN-OUT,LI-Small_99
188280,2022-09-11 23:29:00,1776,8017D1980,11,8000F7C80,16694.46,Euro,16694.46,Euro,ACH,1,FAN-OUT,LI-Small_99

In [20]:
Nate['rec_currency'].unique().tolist()

['US Dollar',
 'Euro',
 'Yuan',
 'Ruble',
 'Australian Dollar',
 'Yen',
 'Saudi Riyal',
 'UK Pound',
 'Rupee',
 'Shekel',
 'Canadian Dollar',
 'Brazil Real',
 'Bitcoin',
 'Mexican Peso',
 'Swiss Franc']

In [21]:
Nate_df = pd.DataFrame(Nate['rec_currency'].unique().tolist(), columns=['rec_currency'])

In [23]:
Nate_df

         rec_currency
0           US Dollar
1                Euro
2                Yuan
3               Ruble
4   Australian Dollar
5                 Yen
6         Saudi Riyal
7            UK Pound
8               Rupee
9              Shekel
10    Canadian Dollar
11        Brazil Real
12            Bitcoin
13       Mexican Peso
14        Swiss Franc

In [49]:
empty = []

for index, row in Nate_df.iterrows():
    if row["rec_currency"] in code_data["CurrencyName"].to_list():
        empty.append({"CurrencyName": row["rec_currency"], "CurrencyCode": code_data[code_data["CurrencyName"] == row["rec_currency"]]["CurrencyCode"].values[0]})
    elif row["rec_currency"] == "Bitcoin":
        empty.append({"CurrencyName": row["rec_currency"], "CurrencyCode": "BTC"})
    elif row["rec_currency"] == "Yen":
        empty.append({"CurrencyName": row["rec_currency"], "CurrencyCode": "JPY"})
    elif row["rec_currency"] == "Shekel":
        empty.append({"CurrencyName": row["rec_currency"], "CurrencyCode": "ILS"})
    elif row["rec_currency"] == "UK Pound":
        empty.append({"CurrencyName": row["rec_currency"], "CurrencyCode": "GBP"})
    elif row["rec_currency"] == "Brazil Real":
        empty.append({"CurrencyName": row["rec_currency"], "CurrencyCode": "BRL"})
    elif row["rec_currency"] == "Yuan":
        empty.append({"CurrencyName": row["rec_currency"], "CurrencyCode": "CNY"})
    elif row["rec_currency"] == "Rupee":
        empty.append({"CurrencyName": row["rec_currency"], "CurrencyCode": "INR"})
    elif row["rec_currency"] == "Ruble":
        empty.append({"CurrencyName": row["rec_currency"], "CurrencyCode": "RUB"})
    
new_df = pd.DataFrame(empty)
new_df

         CurrencyName CurrencyCode
0           US Dollar          USD
1                Euro          EUR
2                Yuan          CNY
3               Ruble          RUB
4   Australian Dollar          AUD
5                 Yen          JPY
6         Saudi Riyal          SAR
7            UK Pound          GBP
8               Rupee          INR
9              Shekel          ILS
10    Canadian Dollar          CAD
11        Brazil Real          BRL
12            Bitcoin          BTC
13       Mexican Peso          MXN
14        Swiss Franc          CHF